body {
    background: #0c3c53;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 500px;
    position: relative;
    margin-top: 100px;
    margin-left: 406px;
    height: 300px;
  }
  
  .box{
    width: 500px;
    height: 387px;
  }

  img {
    border: 5px solid #000000;
    border-radius: 2px;
  }
  
  .caption {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: relative;
    text-align: center;
  }
  
  #prev,
  #next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -40px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #000000;
    border-radius: 10px;
  }
  
  #prev {
    margin-left: 320px;
  }
  
  #next {
    margin-left: 975px;
  }
  